PORT=3000

MQTT_BROKER=m3ba1cfb.ala.asia-southeast1.emqxsl.com
MQTT_PORT=8883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password
MQTT_CLIENT_ID=backend_gh_dashboard

GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/.../exec